<!DOCTYPE html>
<html>
    <head>
        <title>
            Build A Blog
        </title>
        <style>
           .error{
                color: red;
            }
        </style>
    </head>
    <body>
        <table>
            <tr>
                <td><a href='/blogs'>Main Blog Page</a></td>
                <td></td>
                <td></td>
                <td><a href='/newpost'> Add a Blog Entry</a></td>
            </tr>
        </table>
        {% block content%}        
        {% endblock%}
    </body>
    </html>
