{% extends "base.html" %}
{% block content%}
<form action='/view_blog' method='POST'>
        <h1><center>Build a Blog</center></h1>
        {% if blogs|length == 0 %}
        <p>No blogs yet..</p>
        {% else %}        
            {% for blog in blogs %}         
            <a href='/view_blog?id={{blog.id}}'>
                <h2>{{blog.title}}</h2>
            </a>
            {{blog.content}} 
        <br>
    <h6>written by: <a href='/blog?id={{user}}'>{{blog.user.username}}</a></h6>
            {% endfor %}        
        {% endif %}
</form>
{% endblock %}